# Main .gitignore

# Ignore all cmake build files and directories
**/CMakeCache.txt
**/cmake_install.cmake
**/CMakeFiles
**/Makefile
**/install_manifest.txt


# Ignore all the shared/static/executable objects
**/*.a
**/*.o
**/*.so
**/*.ko
**/*.mod.c
**/*.out
**/*.exe


# Igonre kmod build artifacts
**/Kbuild
**/Module.symvers
**/modules.order
**/*.swp
**/*.cmd
**/.tmp_versions


# Ignore the contents of the "artifacts" directory
**/artifacts/*


# All other miscellaneous files
# Ignore contrib directory for now
contrib
.DS_Store

